{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                 {% if request.user == profile.user %}
                <h1 class="d-flex justify-content-center">Your Profile</h1>
                <br>
                    <p class="d-flex justify-content-center"><a class="btn btn-secondary" href="{% url 'edit_profile' profile.pk %}">Edit profile</a></p>
                {% else %}
                <h1 class="d-flex justify-content-center">{{ profile.user }}'s Profile</h1>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <img class="rounded-circle mr-3" height=180 width=180 src="{{ profile.avatar.url }}" alt="User avatar">
            </div>
            <div class="col-md-9">
                <p>Username: {{ profile.user }}</p>
                {% if request.user == profile.user %}
                <p>E-mail address: {{ user.email}} </p>
                {% endif %}
                <p>Member since: {{ profile.member_since.date }}</p>
                <p>Threads: {{ threads_by_user.count }}</p>
                <p>Comments: {{ comments_by_user.count }}</p>
            </div>
        </div>
        <hr>
        <div class="row">   
            <div class="col">
                <h4 class="d-flex justify-content-center">About me</h4>
                {% if profile.biography %}
                <p>{{ profile.biography }}</p>
                {% else %}
                    {% if request.user == profile.user %}
                    <p class="d-flex justify-content-center">You haven't written a bio yet.</p>
                    <a class="d-flex justify-content-center" href="{% url 'edit_profile' profile.pk %}"> Edit your profile</a>
                    {% else %}
                    <p class="d-flex justify-content-center">{{ profile.user }} hasn't written a bio yet.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
