{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                 {% if request.user == profile.user %}
                <h1 class="d-flex justify-content-center">Your Profile</h1>
                <br>
                    <p class="d-flex justify-content-center"><a class="btn btn-secondary" href="{% url 'edit_profile' profile.pk %}">Edit profile</a></p>
                {% else %}
                <h1 class="d-flex justify-content-center">{{ profile.user }}'s Profile</h1>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <img class="rounded-circle mr-3" height=180 width=180 src="{{ profile.avatar.url }}" alt="User avatar">
            </div>
            <div class="col-md-9">
                <p>Username: {{ profile.user }}
                {% if profile.country.flag %}
                    <img src="{{ profile.country.flag }}" alt="Flag">
                </p>
                <p>From: {{ profile.country.name }}{% endif %}</p>
                <p>Member since: {{ profile.member_since.date }}</p>
                <p>Last login: {{ profile.user.last_login.date }} </p>
                <p>Threads: {{ threads_by_user.count }}</p>
                <p>Comments: {{ comments_by_user.count }}</p>
                {% if profile.user.is_superuser %}
                <i class="fa fa-tint gold-drop" aria-hidden="true"></i>
                <i class="fa fa-tint gold-drop" aria-hidden="true"></i>
                <i class="fa fa-tint gold-drop" aria-hidden="true"></i>
                <i class="fa fa-tint gold-drop" aria-hidden="true"></i>
                <i class="fa fa-tint gold-drop" aria-hidden="true"></i>
                <p>Monsoon member (Admin)</p>
                {% else %}
                    {% if threads_by_user.count|add:comments_by_user.count < 5 %}
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <p>Drizzle member</p>
                    {% elif threads_by_user.count|add:comments_by_user.count < 10 %}
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <p>Shower member</p>
                    {% elif threads_by_user.count|add:comments_by_user.count < 20 %}
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <p>Cloud burst member</p>
                    {% elif threads_by_user.count|add:comments_by_user.count < 25 %}
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint grey-drop" aria-hidden="true"></i>
                    <p>Drencher member</p>
                    {% else %}
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <i class="fa fa-tint blue-drop" aria-hidden="true"></i>
                    <p>Downpour member</p>
                    {% endif %}
                {% endif %}
                <p> (Threads+comments ={{ threads_by_user.count|add:comments_by_user.count }}) </p>
                 {% if request.user == profile.user %}
                <h6>Your account information:</h6>
                <p>E-mail address: {{ user.email}} </p>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">   
            <div class="col">
                <h4 class="d-flex justify-content-center">Biography</h4>
                {% if profile.biography %}
                <p>{{ profile.biography }}</p>
                {% else %}
                    {% if request.user == profile.user %}
                    <p class="d-flex justify-content-center">You haven't written a bio yet.</p>
                    <a class="d-flex justify-content-center" href="{% url 'edit_profile' profile.pk %}"> Edit your profile</a>
                    {% else %}
                    <p class="d-flex justify-content-center">{{ profile.user }} hasn't written a bio yet.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
