{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Thank you for your donation</h1>
                <p>Your donation information is below. A confirmation email will be sent to <strong>{{ donation.email }}</strong>.</p>
                <p>Donation details come here:</p>
                <table style="width: 100%">
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Donation number</th>
                    </tr>
                    <tr>
                        <td>{{ donation.date }}</td>
                        <td>€ 05,00</td>
                        <td>{{ donation.donation_number }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}