{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Delete thread</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    Are you sure you want to delete your thread "{{ thread.title }}"?
                    <br>
                    <button class="btn btn-danger" type="submit">Yes, delete thread</button>
                    <a class="btn btn-secondary" href="{% url 'thread' thread.pk %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}