{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Forum
{% endblock %}

{% block content %}
<div class="container margintop-10">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h1><i class="fa fa-exclamation" aria-hidden="true"></i> Delete thread</h1>
                    <p>Are you sure you want to delete your thread "{{ thread.title }}"</p> 
                    <form method="POST">
                        {% csrf_token %}
                        <div class="margintop-10">
                            <a class="btn btn-secondary" href="{% url 'thread' thread.pk %}">Cancel</a>
                            <button class="btn btn-danger" type="submit">Yes, delete thread</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}