{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Forum
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Edit thread</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'thread' thread.pk %}">Cancel</a>
                    <button class="btn btn-blue" type="submit">Edit thread</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}