{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Forum</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                 <a href="{% url 'start_thread' %} " class="btn btn-dark">Add thread</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for thread in object_list %}
                    <a href="{% url 'thread' thread.pk %} ">{{ thread.title }}</a>
                    <p>by {{ thread.creator }}</p>     
                    <p>{{ thread.description }}</p>
                    <p>{{ thread.date_created }}</p>
                    <hr>    
                {% endfor %}
            </div>
        </div>
    </div>
   
{% endblock %}