{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Forum</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for thread in object_list %}
                    <p>{{ thread.title }} by {{ thread.creator }}</p>    
                    <p>{{ thread.description }}</p>
                    <p>{{ thread.date_created }}</p>
                    <hr>    
                {% endfor %}
            </div>
        </div>
    </div>
   
{% endblock %}