{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Thread: {{ thread.title }}</h1>
                <p>by {{ thread.creator }}</p>    
                <p>on {{ thread.date_created }}</p>
                <hr>  
                <p>{{ thread.description }}</p>
                {% if request.user == thread.creator %}
                <a class="btn btn-secondary" href="{% url 'forum' %}">Back</a>
                <a href="{% url 'edit_thread' thread.pk %} " class="btn btn-dark">Edit thread</a>
                <a href="{% url 'delete_thread' thread.pk %} " class="btn btn-danger">Delete thread</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}