body {
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.textinput {
    color: #000;
    border: 1px solid #000;
}

/* ---------------------------------------------------------------------------- BASE TEMPLATE*/
/* ------------------------------------------------------ NAVBAR */

.navbar {
	background-color: #094C72;
}

/* ------------------------------------------------------ END NAVBAR */
/* ------------------------------------------------------ FOOTER*/

.social-icon {
	width: 15px;
}

.page-footer {
    width: 100%;
    margin-top: auto;
	padding-top: 10px;
	background-color: #094C72;
}

.page-footer h5,
.page-footer p, 
.page-footer a {
    color: rgba(255,255,255,.5);
}

.page-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
	background-color: #0c3953;
}

.page-footer ul li {
    list-style-type: none;
}

.brand,
.blog-post-title {
    font-weight: 400;
}

/* ------------------------------------------------------ END FOOTER*/
/* ------------------------------------------------------ TOASTS*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
    border: 1px solid #E0E1DD;;
}

.toast-header,
.toast-body {
    padding-left: 5px;
}

.toast-capper {
    height: 2px;
}
/* ------------------------------------------------------ END TOASTS*/
/* ---------------------------------------------------------------------------- END BASE TEMPLATE*/

/* ---------------------------------------------------------------------------- APP FORUM*/
/* ------------------------------------------------------ FORUM PAGE*/

.thread-top {
    margin: 5px 5px 5px 0;
}

#thread {
    border: 1px solid #E0E1DD;
    border-radius: 5px;
    margin: 5px;
}

#thread:hover {
    border: 1px solid #094C72;
}

.start-thread {
    border: 1px solid #E0E1DD;
    border-radius: 3px;
    padding: 20px;
    background-color: #f2f2f2;;
    margin-bottom: 20px;
}

#comment {
    border: 1px solid #E0E1DD;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}

.go-to-profile, .go-to-thread {
    color: #094C72;
}

.threadpage-flag {
    padding-bottom: 3px;
}

.hide {
    display: none;
}

/* ------------------------------------------------------ END FORUM PAGE*/
/* ---------------------------------------------------------------------------- END APP FORUM*/

/* ---------------------------------------------------------------------------- APP BLOG*/
/* ------------------------------------------------------ BLOG POSTS LIST PAGE */

.btn-blue {
    background-color: #094C72;
    color: #fff;
}

.btn-blue:hover {
    background-color: #0c3953;
    color: #fff;
}

.btn-paginate {
    background-color: #fff;
    border: solid 1px #094C72;
    width: 45px;
}

.btn-paginate:hover {
    background-color: #094C72;
    border: solid 1px #094C72;
}

.btn-paginate:hover i {
    color: white;
}

.btn-paginate i {
    color: #094C72;
}

.btn-paginate-current {
    background-color: #094C72;
    border: solid 1px #094C72;
    color: #fff;
    width: 45px;
}

.btn-paginate-current:hover {
    background-color: #0c3953;
    border: solid 1px #0c3953;
    color: #fff;
}   

/* ------------------------------------------------------ END BLOG POSTS LIST PAGE */
/* ------------------------------------------------------ BLOG POST PAGE */

.blog-post-section {
    margin: 20px 0 20px;
}

.blog-img {
    max-width: 100%;
    max-height: 800px;
    height: auto;
}

.like-unlike {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
    cursor: pointer;
    outline: none;
}

.like-unlike:focus {
    outline: none;
}

.like {
    font-size: 20px;
    color: #e31b23;
}

.unlike {
    font-size: 20px;
    color:  #e31b23;
}

#list-of-likes {
    display: none;
    list-style-type: none;
    margin: 2px;
    padding: 0;
}

#show-likes {
    margin-top: 5px;
}
#likes-section {
    margin-bottom: 40px;
}

/* ------------------------------------------------------ END BLOG POST PAGE */
/* ------------------------------------------------------ MEDIA QUERIES */
@media screen and (max-width: 540px) {
    .blog-img {
        width: 500px;
    }
}

@media screen and (max-width: 414px) {
    .blog-img {
        width: 345px;
    }
}

@media screen and (max-width: 360px) {
    .blog-img {
        width: 330px;
    }
}

@media screen and (max-width: 320px) {
    .blog-img {
        width: 290px;
    }
}

@media screen and (max-width: 295px) {
    .blog-img {
        width: 260px;
    }
}

/* ------------------------------------------------------ END MEDIA QUERIES */
/* ---------------------------------------------------------------------------- END APP BLOG*/
/* ---------------------------------------------------------------------------- APP PROFILE*/
/* ------------------------------------------------------ PROFILE PAGE*/
#profile-flag {
    padding-bottom: 5px;
}

.gold-drop {
    color: #e6ae35;
    font-size: 1.5rem;
    padding-right: 2px;
}

.blue-drop {
    color: #094C72;
    font-size: 1.5rem;
    padding-right: 2px;
}

.grey-drop {
    color: #D4D4D4;
    font-size: 1.5rem;
    padding-right: 2px;
}

#member-info li {
    list-style-type: none;
}

#avatar {
    padding: 10px 0 10px;
}

#member-left-col {
    background-color: #f2f2f2;
}

.profile-container {
    border: 1px solid #E0E1DD;
}

.paddingtop-10 {
    padding-top: 10px;
}

.margintop-10 {
    margin-top: 10px;
}

/* ------------------------------------------------------ END PROFILE PAGE*/
/* ---------------------------------------------------------------------------- END APP PROFILE*/

