@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');

body {
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
}

.textinput,
.textarea,
.datepicker,
.lazyselect {
    color: #000;
    border: 1px solid #000;
}

/* ---------------------------------------------------------------------------- BASE TEMPLATE*/
/* ------------------------------------------------------ NAVBAR */

.navbar {
	background-color: #094C72;
}

.dropdown-item:active{
    background-color: #094C72;
}

#wherestherain { 
    border:none; 
    background-color: #094C72;
}

#wherestherain:active { 
    border:none; 
} 

#city,
#getWeather {
    display: block;
    margin : 0 auto;
}

#getWeather {
    margin-top: 5px;
}

/* ------------------------------------------------------ END NAVBAR */
/* ------------------------------------------------------ FOOTER*/

.social-icon {
	width: 15px;
}

.page-footer {
    width: 100%;
    margin-top: auto;
	padding-top: 10px;
	background-color: #094C72;
}

.page-footer h5,
.page-footer p, 
.page-footer a {
    color: rgba(255,255,255,.5);
}

.page-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-copyright {
	background-color: #0c3953;
}

.page-footer ul li {
    list-style-type: none;
}

.brand,
.blog-post-title {
    font-weight: 400;
}

/* ------------------------------------------------------ END FOOTER*/
/* ------------------------------------------------------ TOASTS*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
    border: 1px solid #E0E1DD;;
}

.toast-header,
.toast-body {
    padding-left: 5px;
}

.toast-capper {
    height: 2px;
}
/* ------------------------------------------------------ END TOASTS*/
/* ------------------------------------------------------ MEDIA QUERIES */
@media screen and (max-width: 767px) {
    #avatarnav {
        display: none;
    }

    .dropdown-menu {
        background-color: #094C72;
    }

    .dropdown-item {
        color: rgba(255,255,255,.5);
    }
}
/* ------------------------------------------------------ END MEDIA QUERIES */
/* ---------------------------------------------------------------------------- END BASE TEMPLATE*/

/* ---------------------------------------------------------------------------- APP HOME*/

.center {
    text-align: center;
}

.fa-question-circle {
    font-size: 160px;
    color: #094C72;
    margin-top: 30px;
}

#show-icon img {
    width: 65px;
    height: 65px;
}

/* ---------------------------------------------------------------------------- END APP HOME*/

/* ---------------------------------------------------------------------------- APP FORUM*/
/* ------------------------------------------------------ FORUM PAGE*/

.thread-top {
    margin: 5px 5px 5px 0;
}

#thread {
    border: 1px solid #E0E1DD;
    border-radius: 5px;
    margin: 5px;
}

#thread .col-sm-12 {
    padding-top: 10px;
}

#thread .col-md-2,
#thread .col-md-4 {
    padding-top: 20px;
}

#thread:hover {
    transition: 0.8s;
    border: 1px solid #094C72;
    background-color: #f2f2f2;
}

.start-thread {
    border: 1px solid #E0E1DD;
    border-radius: 3px;
    padding: 20px;
    background-color: #f2f2f2;;
    margin-bottom: 20px;
}

.go-to-profile, .go-to-thread {
    color: #094C72;
}

.forum-small-show {
    display: none;
}

/* ------------------------------------------------------ END FORUM PAGE*/
/* ------------------------------------------------------ THREAD PAGE*/

.goback a { 
    color: #094C72;
}

.comment {
    border: 1px solid #E0E1DD;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}

.mobile-comment {
    margin: 5px;
}

.hide {
    display: none;
}

.threadpage-flag {
    padding-bottom: 3px;
}

.avatar-forum {
    margin: 3px;
}

.fa-exclamation {
    color: #dc3545;
}

/* ------------------------------------------------------ END THREAD PAGE*/
/* ------------------------------------------------------ MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    .forum-small-hide {
        display: none;
    }

    .forum-small-show {
        display: inline-block;
    }

    .start-thread {
        padding: 0px;
    }

    #thread .col-sm-12 {
    padding-top: 5px;
    }

    #thread .col-md-2,
    #thread .col-md-4 {
        padding-top: 5px;
    }

    .comment-count-pag {
        font-size: 0.9rem;
    }
}

/* ------------------------------------------------------ END MEDIA QUERIES*/
/* ---------------------------------------------------------------------------- END APP FORUM*/

/* ---------------------------------------------------------------------------- APP BLOG*/
/* ------------------------------------------------------ BLOG POSTS LIST PAGE */

.page-title {
    margin-top: 20px;
    padding-bottom: 2rem;
}

.btn-blue {
    background-color: #094C72;
    color: #fff;
}

.btn-blue:hover {
    background-color: #0c3953;
    color: #fff;
}

.btn-paginate {
    background-color: #fff;
    border: solid 1px #094C72;
    width: 45px;
}

.btn-paginate:hover {
    background-color: #094C72;
    border: solid 1px #094C72;
}

.btn-paginate:hover i {
    color: white;
}

.btn-paginate i {
    color: #094C72;
}

.btn-paginate-current {
    background-color: #094C72;
    border: solid 1px #094C72;
    color: #fff;
    width: 45px;
}

.btn-paginate-current:hover {
    background-color: #0c3953;
    border: solid 1px #0c3953;
    color: #fff;
}   

/* ------------------------------------------------------ END BLOG POSTS LIST PAGE */
/* ------------------------------------------------------ BLOG POST PAGE */

.blog-post-section {
    margin: 20px 0 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.like-unlike {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
    cursor: pointer;
    outline: none;
}

.like-unlike:focus {
    outline: none;
}

.like {
    font-size: 20px;
    color: #e31b23;
}

.unlike {
    font-size: 20px;
    color:  #e31b23;
}

#list-of-likes {
    display: none;
    list-style-type: none;
    margin: 2px;
    padding: 0;
}

#show-likes {
    margin-top: 5px;
}
#likes-section {
    margin-bottom: 40px;
}

.bookmark-unbookmark {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
    cursor: pointer;
    outline: none;
}

.bookmark-unbookmark:focus {
    outline: none;
}

.fa-bookmark {
    font-size: 20px;
    color: #094C72;
}

.fa-bookmark-o {
    font-size: 20px;
    color:  #094C72;
}

/* ------------------------------------------------------ END BLOG POST PAGE */
/* ------------------------------------------------------ ADD BLOG POST PAGE */

.instructions {
    display: none;
}

/* ------------------------------------------------------ END ADD BLOG POST PAGE */
/* ------------------------------------------------------ MEDIA QUERIES */

@media screen and (max-width: 991px) {
    .page-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 540px) {
    .blog-img {
        width: 500px;
    }
}

@media screen and (max-width: 414px) {
    .blog-img {
        width: 345px;
    }
}

@media screen and (max-width: 360px) {
    .blog-img {
        width: 330px;
    }
}

@media screen and (max-width: 320px) {
    .blog-img {
        width: 290px;
    }

    .page-title {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 295px) {
    .blog-img {
        width: 260px;
    }
}

/* ------------------------------------------------------ END MEDIA QUERIES */
/* ---------------------------------------------------------------------------- END APP BLOG*/
/* ---------------------------------------------------------------------------- APP PROFILE*/
/* ------------------------------------------------------ PROFILE PAGE*/
#profile-flag {
    padding-bottom: 5px;
}

.gold-drop {
    color: #e6ae35;
    font-size: 1.5rem;
    padding-right: 2px;
}

.blue-drop {
    color: #094C72;
    font-size: 1.5rem;
    padding-right: 2px;
}

.grey-drop {
    color: #D4D4D4;
    font-size: 1.5rem;
    padding-right: 2px;
}

#member-info li {
    list-style-type: none;
}

#avatar {
    padding: 10px 0 10px;
}

#member-left-col {
    background-color: #f2f2f2;
}

.profile-container {
    border: 1px solid #E0E1DD;
}

.paddingtop-10 {
    padding-top: 10px;
}

.margintop-10 {
    margin-top: 10px;
}

.margintop-20 {
    margin-top: 20px;
}

.marginbottom-20 {
    margin-bottom: 20px;
}


/* ------------------------------------------------------ ACCOUNT PAGE*/
.account-container {
    border: 1px solid #E0E1DD;
    padding: 0;
}

.grey-col {
    background-color: #f2f2f2;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grey-col h4 {
    padding: 4px;
    color: #094C72;
}


#donation-details-account-sm {
    display: none;
}

.fa-lock {
    color: #094C72;
}

#bookmarks-list {
    list-style: none;
    padding: 0;
}

.bookmark a,
.blue-text {
    color: #094C72;
}

#donation-details-account-lg {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px 0 20px;
}

#donation-details-account-lg th {
    background-color: #094C72;
    color: white;
    font-size: 0.9rem;
    padding: 10px;
}

#donation-details-account-lg td {
    font-size: 0.9rem;
    padding: 10px;
}

#donation-details-account-lg tr {
    border-bottom: 1px solid #E0E1DD;
}

.mobile-donations {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------------------ END ACCOUNT PAGE*/

/* ------------------------------------------------------ END PROFILE PAGE*/
/* ------------------------------------------------------ MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    #donation-details-account-lg {
        display: none;
    }

    #donation-details-account-sm {
        display: block;
    }
}  

@media screen and (min-width: 768px) and (max-width: 991px) {
    #activity-table td {
        font-size: 0.6rem;
    }

    #avatar {
        width: 150px;
        height: 150px;
    }
}
    
/* ------------------------------------------------------ END MEDIA QUERIES */
/* ---------------------------------------------------------------------------- END APP PROFILE*/

/* ---------------------------------------------------------------------------- APP DONATION*/
/* ------------------------------------------------------ DONATION SUCCESS PAGE */

#donation-details-sm {
    display: none;
}

.thanks {
    color: #8b0000;
}

/* ------------------------------------------------------ END DONATION SUCCESS PAGE */
/* ------------------------------------------------------ MEDIA QUERIES */
@media screen and (max-width: 991px) {
    #donation-details-lg {
        display: none;
    }

    #donation-details-sm {
        display: block;
    }
}  
    
/* ------------------------------------------------------ END MEDIA QUERIES */
/* ---------------------------------------------------------------------------- END APP DONATION*/

