body {
    padding-top: 70px;
}

/* ---------------------------------------------------------------- APP FORUM*/
/* ------------------------------------------------------ FORUM PAGE*/

.thread-top {
    margin: 5px 5px 5px 0;
}

#thread {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}

.start-thread {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 20px;
    background-color: lightgrey;
    margin-bottom: 20px;
}

#comment {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}

/* ------------------------------------------------------ END FORUM PAGE*/
/* ---------------------------------------------------------------- END APP FORUM*/

/* ---------------------------------------------------------------- APP BLOG*/
/* ------------------------------------------------------ BLOG PAGE */

.blog-img, .blog-img-description {
    width: 640px;
}

/* ------------------------------------------------------ END BLOG PAGE */
/* ------------------------------------------------------ MEDIA QUERIES */
@media screen and (max-width: 540px) {
    .blog-img {
        width: 500px;
    }
}

@media screen and (max-width: 414px) {
    .blog-img {
        width: 345px;
    }
}

@media screen and (max-width: 360px) {
    .blog-img {
        width: 330px;
    }
}

@media screen and (max-width: 320px) {
    .blog-img {
        width: 290px;
    }
}

@media screen and (max-width: 295px) {
    .blog-img {
        width: 260px;
    }
}

/* ------------------------------------------------------ END MEDIA QUERIES */
/* ---------------------------------------------------------------- END APP BLOG*/

