body {
    padding-top: 70px;
}

/* ---------------------------------------------------------------- APP FORUM*/
/* ------------------------------------------------------ FORUM PAGE*/

.thread-top {
    margin: 5px 5px 5px 0;
}

#thread {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}

/* ------------------------------------------------------ END FORUM PAGE*/
/* ---------------------------------------------------------------- END APP FORUM*/