{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ blogpost.title }}</h3>
                <small>by <strong>{{ blogpost.author }}</strong> posted on {{ blogpost.date_created }}</small>
                <br>
                <br>
                <img height=360 width=360 src="{{ blogpost.header_image.url }}" alt="Blog image">
                <p>{{ blogpost.body }}</p>
                {% if request.user.is_superuser %}
                <a href="{% url 'edit_blog_post' blogpost.pk %}" class="btn btn-dark">Edit blog post</a>
                <a href="{% url 'delete_blog_post' blogpost.pk %}" class="btn btn-danger">Delete blog post</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
