{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container col col-sm-12 col-lg-8 mx-auto">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1 class="brand"><i class="fa fa-umbrella" aria-hidden="true"></i> Pluviophile Blog</h1>
                <br>
                <br>
                <br>
            </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="{% url 'add_blog_post' %} " class="btn btn-blue">Add Blog Post</a>
            </div>
        </div>
        <br>
        {% endif %}
        {% for blogpost in object_list %}
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 36rem;">
                    <a href="{% url 'blog_post' blogpost.pk %}"><img class="card-img-top" src="{{ blogpost.image_1.url }}" alt="Go to blog post {{ blogpost.title }}"></a>
                    <div class="card-body">
                        <p class="text-muted">By {{ blogpost.author }} on {{ blogpost.date_created }}</p>
                        <h5 class="card-title">{{ blogpost.title }} </h5>
                        <p class="card-text">{{ blogpost.body_part_1|truncatewords:30 }}</p>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'blog_post' blogpost.pk %}" class="btn btn-blue">Read blog post</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-paginate" href="?page=1"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                        <a class="btn btn-paginate" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-backward" aria-hidden="true"></i></a>
                    {% endif %}
                    <a class="btn btn-paginate-current" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                        <a class="btn btn-paginate" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-forward" aria-hidden="true"></i></a>
                        <a class="btn btn-paginate" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}  