{% extends "base.html" %}
{% load static %}

{% block extra_title %}
| Blog
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-md-8 mx-auto d-flex justify-content-center">
                <h1 class="page-title">Edit Blog Post</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-8 mx-auto d-flex justify-content-center">
                <button class="btn btn-blue show-instructions">Show instructions</button>
            </div>
        </div>
        <div>
            <div class="col col-md-6 mx-auto instructions">
                <br>
                <ul>
                    <li>Your blog requires at least one image. Please use horizontal images only, with a minimum width of 730px.</li>
                    <li>Your first image will be displayed under the title and above your text.</li>
                    <li>If you use one image only, paste all your text in the field 'Body part 1'</li>
                    <li>It is possible to add a second and third image. Upload your second image in the image field called 'Image 2'. You must paste the text you would like to be displayed under the second image, in the text field called 'Body part 2'.</li>
                    <li>Upload your third image in the image field called 'Image 3'. You must paste the text you would like to be displayed under the third image, in the text field called 'Body part 3'.</li>
                    <li>We assume that you are familiar with html. If not, please contact the site owner. It is possible to use html tags in the body fields. For consistency, we ask you to limit the use of html tags. You can use a br tag for a line break. Only use h4 tags for paragraph titles. <strong>Please do not use html tags in the first 30 words of your text.</strong></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="col col-md-8 mx-auto">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-secondary" href="{% url 'blog_post' blogpost.pk %}">Cancel</a>
                    <button class="btn btn-blue" type="submit">Edit blog post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static '/js/blog_post_instructions.js' %}"></script>
{% endblock %}