{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Edit blog post</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-dark" type="submit">Edit blog post</button>
                    <a class="btn btn-secondary" href="{% url 'blog_post' blogpost.pk %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}