{% extends "account/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/umbrella-bg.css' %}">
{% endblock %}

{% load i18n %}

{% block extra_title %}
| Change password
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="text-center">
        <h1>{% trans "Change Password" %}</h1>
    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-blue" name="action">{% trans "Change Password" %}</button><br><br>
            <small><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></small>
        </div>
    </form>
{% endblock %}
