{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <!--Stripe-->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}
        
        <title>Pluviophile {% block extra_title %}{% endblock %}</title>
    </head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a href="{% url 'home' %}" class="navbar-brand"><i class="fa fa-umbrella" aria-hidden="true"></i> Pluviophile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-stretch" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.profile.pk %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donate' %}">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}
    
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <br>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-6 col-sm-12">
                    <h5 class="brand"><i class="fa fa-umbrella" aria-hidden="true"></i> Pluviophile</h5>
                    <p>This website was created to connect people who love rain.</p>
                </div>
                <div class="col col-lg-3 offset-lg-3 s12">
                    <ul>
                        <li><h5>Connect</h5></li>
                        <li><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter social-icon" aria-hidden="true"></i> Twitter</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/"> <i class="fa fa-facebook social-icon" aria-hidden="true"></i> Facebook</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram social-icon" aria-hidden="true"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container d-flex justify-content-center">
                <p>© 2021 <a href="https://github.com/suzannenl/">SuzanneNL</a> - All rights reserved</p>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}
    
</body>
</html>